@font-face{
    font-family: 'Zillaslab';
    src: url('/src/font/ZillaSlab-Light.ttf') format('truetype');
}

body{
    font-family: 'Zillaslab';
    background-color: black;
    width: 100vw;
    height: 100vh;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}
